.breadcrumb {
  font-size: 0.75rem;
  color: #666;
  margin: 0 0 0.5rem 0;
  font-family: sans-serif;
  text-transform: lowercase;
}

.breadcrumb span,
.breadcrumb a {
  font-size: 0.75rem;
  font-weight: normal;
  color: #666;
}
