.breadcrumb {
  font-size: 0.75rem;
  color: #666;
  margin: 0 0 0.5rem 0;
  font-family: sans-serif;
  text-transform: lowercase;
}

.breadcrumb-content {
  display: inline;
  font-size: 0.75rem;
  font-weight: normal;
  color: #666;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
  font-weight: normal;
}
