.gatefold-container {
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 1000px;
}

.gatefold-left,
.gatefold-right {
  flex: 1;
  padding: 10px;
}

.gatefold-left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gatefold-right h2 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.gatefold-right ul {
  list-style-type: none;
  padding-left: 0;
}
