body {
  background-color: #fafafa;
  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
}
.header-bar {
  background-color: #cbe8e2;
  padding: 1rem;
}
.site-title {
  font-size: 2rem;
  color: #444;
}